---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Contacta con nosotros" id="contact">
  <span class="text-primary">Teléfono: 
    <a class="text-secondary" href="tel:655306665">
      655306665
    </a>
  </span>
  <span class="text-primary">Email: 
    <a class="text-secondary" href="mailto:info@bubbleteacordoba.es">
      info@bubbleteacordoba.es
    </a>
  </span>
  <span class="text-primary">Dirección: 
    <a class="text-secondary" href="https://maps.app.goo.gl/DZ17CdYiXLZTeL9b9" target="_blank">
      Calleja Barqueros 5, Córdoba
    </a>
  </span>
</ContentSection>
