---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Contacta con nosotros" id="contact">
  <Fragment slot="lead">
  </Fragment>
  <span class="text-primary">This will be implemented soon...</span>
</ContentSection>
