---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Ven a vernos" id="intro">
  <Icon slot="eyebrow" name="logotea" class="size-32" />
  <Fragment slot="lead">
    Estamos en pleno centro de Córdoba cerca de la plaza de 
    <span class="text-primary">San Miguel</span>.
    En el pasaje de <span class="text-primary">San Álvaro</span> con la calleja 
    <span class="text-primary">Barqueros</span>, haciendo esquina.
  </Fragment>
  <!-- <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://docs.astro.build/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://astro.new/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:rocket" class="size-8" />
      <span>Try it out</span>
    </a>
  </div> -->
</ContentSection>
