---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Ven a vernos" id="intro">
  <Icon slot="eyebrow" name="logotea" class="size-32" />
  <Fragment slot="lead">
    Estamos en pleno centro de Córdoba cerca de la plaza de 
    <span class="text-primary">San Miguel</span>.
    En el pasaje de <span class="text-primary">San Álvaro</span> con la calleja 
    <span class="text-primary">Barqueros</span>, haciendo esquina.
  </Fragment>
</ContentSection>
